@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/*Colors* -- standardized colors*/


.container{
}

h6{
  display: inline-block;
  float: right;
}

body{
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-top{
  margin-top: 20px;
  border: solid blue;
}

.nav-top{
ul{
margin-top: 10px;
margin-bottom: 10px;
}

ul li {
  display: inline-block;
  list-style: none;
  background-color: white;/*To Be Removed*/
}

div.buttons{
  background-color: red;
  max-width: 100%;
}

button.red{
padding-right: 10px;
}
img{
  height: 75%;
  width: 75%;
}

.articles section{
max-width: 25%;
float: left;
}

}
